.App {
  text-align: center;
}

.hero-container{
  width: 100%;
  height: 80vh;
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: montserrat, sans-serif;
  font-weight: 500;
}

header{
  width: 100%;
  margin: auto;
}

.header-container{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0 auto;
}

#logo-text{
  color: #fed136;
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
}

#desktop-nav{
  display: flex;
  justify-content: space-between;
}

#mobile-nav{
  display: none;
  height: 35px;
  width: 80px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  color: white;
  background-color: #fed136;
  border: none;
  border-radius: 6px;
}

h2{
  font-family: droid-serif, serif;
  font-weight: 600;
  font-style: italic;
}

h1{
  font-family: montserrat, sans-serif;
  font-weight: 700;
}

#hero-btn{
  height: 70px;
  width: 220px;
  font-size: 19px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  color: white;
  background-color: #fed136;
  border: none;
  border-radius: 5px;
}

.dropdown-container{
  height: auto;
  position: fixed;
  left: 0;
  top: 75px;
  padding: 0px 30px 10px 30px;
  background-color: #212529;
  animation: open 500ms;
  overflow: hidden;
}

#dropdown-nav{
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

@keyframes open {
  from{
    height: 0px;
  }
  to{
   height: 100px;
  }
}

@media(max-width: 510px){
  .hero-container{
    height: 500px;
  }
  
  header{
    background-color: #212529;
  }

  .header-container{
    max-width: 500px;
  }

  #logo-text{
    font-size: 20px;
  }

  #desktop-nav{
    display: none;
  }

  #mobile-nav{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .dropdown-container{
    width: 100%;
  }

  #dropdown-nav{
    max-width: 500px;
    margin: 0 auto;
  }

  .hero-content{
    height: 410px;
    max-width: 400px;
    margin: 9vh auto;
    padding: auto;
  }

  h2{
    font-size: 22px;
  }

  h1{
    font-size: 52px;
    margin-top: -2px;
    line-height: 50px;
  } 
}




@media(max-width: 768px){
  .hero-container{
    height: 840px;
  }
  
  header{
    background-color: #212529;
  }

  .header-container{
    max-width: 760px;
  }

  #logo-text{
    font-size: 20px;
  }

  #desktop-nav{
    display: none;
  }

  #mobile-nav{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .dropdown-container{
    width: 100%;
  }

  #dropdown-nav{
    max-width: 800px;
    margin: 0 auto;
  }

  .hero-content{
    height: 720px;
    max-width: 600px;
    margin: 200px auto;
    padding: auto;
  }

  h2{
    font-size: 35px;
  }

  h1{
    font-size: 75px;
    margin-top: -2px;
    line-height: 73px;
  } 
}

 
@media(max-width: 989px){
  .hero-container{
    height: 760px;
  }

  .header-container{
    max-width: 970px;
  }

  #logo-text{
    font-size: 27px;
  }

  #desktop-nav{
    font-size: 15px;
    width: 480px;
  }

  #mobile-nav{
    font-size: 12px;
  }

  .hero-content{
    height: 680px;
    max-width: 960px;
    margin: 200px auto;
    padding: auto;
  }

  h2{
    font-size: 40px;
  }

  h1{
    font-size:75px;
    margin-top: -20px;
  }
}

/*


@media(min-width: 990px){
  .header-container{
    max-width: 900px;
  }

  #logo-text{
    font-size: 30px;
  }

  #desktop-nav{
    font-size: 15px;
    width: 480px;
  }

  .dropdown-container{
    display: none;
  }

  .hero-content{
    height: calc(80vh - 80px);
    max-width: 990px;
    margin: 16vh auto;
    padding: auto;
  }

  h2{
    font-size: 40px;
  }

  h1{
    font-size: 75px;
    margin-top: -20px;
  }
}




@media(min-width: 1200px){
  .header-container{
    max-width: 1150px;
  }

  #logo-text{
    font-size: 30px;
  }

  #desktop-nav{
    font-size: 15px;
    width: 480px;
  }

  .hero-content{
    height: calc(100% - 80px);
    max-width: 1150px;
    margin: 16vh auto;
    padding: auto;
  }

  h2{
    font-size: 40px;
  }

  h1{
    font-size: 75px;
    margin-top: -20px;
  }
}
 */
